---
import ParallaxFooter from '@/components/ParallaxFooter.astro';
import ParallaxHero from '@/components/ParallaxHero.astro';
import Layout from '@/layouts/Layout.astro';
import DonationList from '@/components/DonationList.astro';
import CTAs from '@/components/CTAs.astro';
import Form from '@/components/Form.astro';
import Button from '@/components/Button.astro';
---

<Layout title='Una Gota de Salud | Donaciones'>
  <style is:global>
    html {
      scroll-behavior: smooth;
    }
  </style>
  <ParallaxHero
    title='Donaciones'
    description='Recibimos medicamentos, alimentos no perecederos, productos de higiene personal, productos de limpieza, ropa, calzados y frazadas.'
    image='/media/donaciones/hero.webp'
    alt='Módulos alimentarios de Una Gota de Salud'
  />
  <section class='flex flex-col gap-6 2lg:gap-12'>
    <div class='flex flex-col sm:flex-row justify-between'>
      <h2 class='mb-8'>Lista de necesidades</h2>
      <Button class='h-fit' href='#donar' class='h-fit w-full xs:w-fit self-end sm:self-start'>Donar ahora &nbsp;↓</Button>
    </div>
    <DonationList />
  </section>
  <section
    id='donar'
    class='relative font-satoshi flex flex-col gap-10 items-center !max-w-[40rem] [&>p]:text-center [&>p]:!text-3xl [&>p]:2lg:!text-4xl [&>p]:text-primary [&>p]:font-medium [&>p]:text-balance'
  >
    <div class='absolute top-0 left-1/2 w-screen h-full bg-gray-50 -translate-x-1/2 z-[-1]'></div>
    <p>Para donar, podés enviarnos un WhatsApp:</p>
    <Button href='https://wa.me/543515917215' target='_blank' class='w-full xs:w-fit'>Ir a WhatsApp →</Button>
    <p class='mt-4'>O dejarnos un mensaje:</p>
    <Form isDonation={true} />
  </section>
  <CTAs
    title='Existen otras maneras en las que podés ayudar'
    firstButtonHref='/formas-de-ayudar'
    firstButtonLabel='Formas de ayudar  →'
    secondButtonHref='/voluntariado'
    secondButtonLabel='Ser voluntario/a  →'
    maxChars={30}
  />
  <ParallaxFooter imageSrc='/media/donaciones/footer.webp' alt='Grupo de voluntarios de Una Gota de Salud' />
</Layout>
