---
import Layout from '@/layouts/Layout.astro';
import ParallaxHero from '@/components/ParallaxHero.astro';
import ParallaxFooter from '@/components/ParallaxFooter.astro';
import Button from '@/components/Button.astro';
---

<Layout title='Una Gota de Salud | Voluntariado'>
  <ParallaxHero
    title='Voluntariado'
    description='Ya seas un profesional de la salud, un estudiante o simplemente alguien que quiere dar una mano, en La Gota estamos ansiosos por conocerte.'
    image='/media/voluntariado/hero.png'
    alt='Niños sosteniendo cabras en un rancho'
    fromOpacity={0.7}
  />
  <section class='h-screen'>
    <h1>Voluntariado</h1>
  </section>
  <ParallaxFooter imageSrc='/media/voluntariado/footer.png' alt='Grupo de voluntarios de Una Gota de Salud' />
</Layout>
