<section class="flex flex-row gap-12 !pt-[5vw] 2lg:!pt-8">
  <div class="w-full flex-col gap-12 hidden 2lg:flex">
    <div class="relative w-full h-full">
      <img
        src="/media/inicio/about-1.webp"
        alt="Equipo de voluntarios"
        class="absolute inset-0 w-full h-full object-cover object-[center_70%] rounded-xl"
      />
    </div>
  </div>
  <div class="w-full 2lg:max-w-[45rem] flex flex-col gap-6">
    <h2 class="mb-3">Sobre La Gota</h2>
    <p>
      Una Gota de Salud es una ONG sin fines de lucro, conformada por
      profesionales de la salud (médicos, enfermeros, odontólogos,
      nutricionistas, farmacéuticos y estudiantes de dichas áreas) y voluntarios
      solidarios que trabajan para llevar asistencia sanitaria a comunidades del
      noroeste de Córdoba.
    </p>
    <p>
      Desde 2008, brindamos atención médica, odontológica y nutricional en las
      comunidades de
      <span class="text-primary font-medium"
        >Las Ollas, Los Leones, Santo Domingo, Puesto Torrado, El Abra, Pozo del
        Ñato, Cachiyullo, San Nicolás y alrededores.
      </span>
      Nuestro trabajo es posible gracias a las donaciones y participación de personas
      comprometidas que ponen sus recursos y tiempo al servicio de los demás.
    </p>
    <div
      class="relative w-full aspect-[1.8] max-h-[20rem] max-w-[45rem] mx-auto my-4 2lg:hidden"
    >
      <img
        src="/media/inicio/about-1.webp"
        alt="Equipo de voluntarios"
        class="absolute inset-0 w-full h-full object-cover object-[center_70%] rounded-xl"
      />
    </div>
  </div>
</section>
