<section class='py-16 relative flex gap-8'>
  <div class='absolute top-0 left-1/2 w-screen h-full bg-gray-50 -translate-x-1/2 z-[-1]'></div>

  <div class='w-full max-w-[30rem] min-h-full flex flex-col gap-4 pr-4 [&>img]:rounded-lg [&>img]:w-full [&>img]:h-full'>
    <img src='/about-image-1-placeholder.jpg' alt='Equipo de voluntarios' />
    <img src='/about-image-2-placeholder.jpg' alt='Equipo de voluntarios en acción' />
  </div>
  <div class='w-full flex flex-col gap-4 [&>p]:font-medium [&>p]:text-lg [&>p]:leading-[1.6rem]'>
    <h2 class='text-4xl font-medium mb-2'>Sobre La Gota</h2>
    <p>
      Una Gota de Salud es una ONG sin fines de lucro, conformada por profesionales de la salud (médicos, enfermeros, odontólogos, nutricionistas,
      farmacéuticos y estudiantes de dichas áreas) y voluntarios solidarios que trabajan para llevar asistencia sanitaria a comunidades del noroeste
      de Córdoba.
    </p>
    <p>
      Desde 2008, brindamos atención médica, odontológica y nutricional en zonas donde el acceso a la salud es limitado, llegando a familias en
      <span class='text-primary'
        >Las Ollas, Los Leones, Santo Domingo, Puesto Torrado, El Abra, Pozo del Nato, Cachiyuyo, San Nicolás y alrededores.
      </span>
    </p>
    <p>
      Nuestro trabajo es posible gracias a las donaciones de personas comprometidas y al esfuerzo de nuestros propios miembros, que ponen sus recursos
      y tiempo al servicio de los demás. En más de 15 años de labor, hemos acompañado a más de 500 familias, ofreciendo contención y atención donde el
      sistema no llega.
    </p>
  </div>
</section>
