<section class='flex gap-12 !pt-8'>
  <div class='w-full flex flex-col gap-12'>
    <div class='relative w-full h-full'>
      <img
        src='/media/inicio/about-1.webp'
        alt='Equipo de voluntarios'
        class='absolute inset-0 w-full h-full object-cover object-[center_70%] rounded-xl'
      />
    </div>
    <div class='relative w-full h-full'>
      <img
        src='/media/inicio/about-2.webp'
        alt='Equipo de voluntarios en acción'
        class='absolute inset-0 w-full h-full object-cover object-[center_60%] rounded-xl'
      />
    </div>
  </div>
  <div class='w-full max-w-[45rem] flex flex-col gap-6'>
    <h2 class='mb-3'>Sobre La Gota</h2>
    <p>
      Una Gota de Salud es una ONG sin fines de lucro, conformada por profesionales de la salud (médicos, enfermeros, odontólogos, nutricionistas,
      farmacéuticos y estudiantes de dichas áreas) y voluntarios solidarios que trabajan para llevar asistencia sanitaria a comunidades del noroeste
      de Córdoba.
    </p>
    <p>
      Desde 2008, brindamos atención médica, odontológica y nutricional en zonas donde el acceso a la salud es limitado, llegando a las comunidades de
      <span class='text-primary font-medium'
        >Las Ollas, Los Leones, Santo Domingo, Puesto Torrado, El Abra, Pozo del Ñato, Cachiyullo, San Nicolás y alrededores.
      </span>
    </p>
    <p>
      En cada operativo coordinamos vehículos, embalamos donaciones, acondicionamos medicamentos y preparamos insumos para que nuestros profesionales
      tengan lo necesario para trabajar. Luego recorremos más de 150 kilómetros desde la capital provincial, por caminos difíciles y poco transitados,
      hasta los parajes donde sus familias nos aguardan.
      <p>
        Nuestro trabajo es posible gracias a las donaciones de personas comprometidas y al esfuerzo de nuestros propios miembros, que ponen sus
        recursos y tiempo al servicio de los demás. En quince años de labor, hemos acompañado a más de 500 familias, ofreciendo contención y atención
        donde el sistema no llega.
      </p>
      <p class='text-primary mt-3 font-medium'>PERSONERÍA JURÍDICA: 30-10000000-1</p>
    </p>
  </div>
</section>
