---
import Button from '@/components/Button.astro';
---

<>
  <section class='flex flex-col items-center !pt-8 !pb-40'>
    <div class='flex flex-col items-center gap-8'>
      <h2 class='text-[2.5rem] leading-[2.5rem] text-center font-medium max-w-[20ch]'>
        Cada acción cuenta.
        <br />
        Ayudanos a ayudar.
      </h2>
      <div class='flex gap-4'>
        <Button href='/formas-de-ayudar' variant='secondary'>Formas de ayudar &nbsp;→</Button>
        <Button href='/voluntariado'>Ser voluntario/a &nbsp;→</Button>
      </div>
    </div>
  </section>

  <section id='parallax-section' class='relative h-[35rem] max-h-[50vw] flex flex-col gap-8 items-end justify-center'>
    <div class='absolute left-1/2 w-screen -translate-x-1/2 z-[-1] inset-0 h-full overflow-hidden'>
      <img
        id='parallax-image'
        src='/media/inicio/cta.webp'
        alt='Caravana de coches de Una Gota de Salud'
        class='w-full min-h-[calc(100%+400px)] -mt-[400px] object-cover object-top'
      />
      <div class='absolute inset-0 w-full h-full bg-gradient-to-r from-transparent to-black/50'></div>
    </div>

    <h2 class='text-[2.5rem] leading-[2.5rem] text-right font-medium max-w-[20ch] text-white'>
      Llevamos esperanza
      <br />
      en cada viaje
    </h2>
    <Button href='/lo-que-hacemos'>Ver actividades &nbsp;→</Button>
  </section>
</>

<script>
  const section = document.getElementById('parallax-section');
  const image = document.getElementById('parallax-image');

  if (!section || !image) throw new Error('Required elements not found');

  const handleScroll = () => {
    const sectionRect = section.getBoundingClientRect();
    const viewportHeight = window.innerHeight;

    // Calcular el progreso basado en la posición de la sección
    const scrollProgress = Math.min(1, Math.max(0, (viewportHeight - sectionRect.top) / (viewportHeight + sectionRect.height)));

    // Aplicar la traslación basada en el progreso (0 a 100px)
    const translation = scrollProgress * 300;
    image.style.transform = `translateY(${translation}px)`;
  };

  window.addEventListener('scroll', handleScroll);
</script>
