---
import Button from '@/components/Button.astro';
---

<section class='flex gap-8 !pt-12'>
  <div class='w-full max-w-[29rem] min-h-full flex flex-col gap-8 justify-between'>
    <div class='flex flex-col gap-10'>
      <h1 class='text-balance'>
        Brindamos asistencia sanitaria en zonas inhóspitas del
        <span class='text-primary'>noroeste cordobés</span>
      </h1>
      <p class='text-[1.4rem] leading-[1.7rem] text-balance'>
        Somos profesionales de la salud, estudiantes y voluntarios comprometidos con el bienestar de quienes más lo necesitan.
      </p>
    </div>
    <div class='flex gap-4 mt-6'>
      <Button href='/quienes-somos' variant='secondary'>Sobre nosotros &nbsp;→</Button>
      <Button href='/formas-de-ayudar'>Quiero ayudar &nbsp;→</Button>
    </div>
  </div>
  <div class='relative w-full min-h-full'>
    <video src='/media/inicio/hero-video.webm' autoplay muted loop class='rounded-xl w-full h-full object-cover'></video>
  </div>
</section>
