<section class='relative !pb-0 !pt-12 2lg:!pt-0'>
  <h2 class='mb-14 2lg:mb-16'>A dónde vamos</h2>
  <div class='w-screen h-[30rem] relative left-1/2 -translate-x-1/2 overflow-hidden'>
    <iframe
      src='https://www.google.com/maps/d/u/0/embed?mid=1gGSo3sTPVcb5glOcbhk9fFMzuT2oe18&ehbc=2E312F&noprof=1'
      class='w-[calc(100%+600px)] h-[calc(100%+200px)] -translate-x-[300px] border-none -translate-y-[90px] pointer-events-none'
      title='Mapa de zonas de acción'
      fetchpriority='high'
      loading='eager'
      id='map-iframe'></iframe>
  </div>
</section>
