<section class='md:px-[10%] py-16 sm:!py-24 relative flex flex-col sm:flex-row gap-14 sm:gap-8 font-satoshi items-center justify-between'>
  <div class='absolute top-0 left-1/2 w-screen h-full bg-primary -translate-x-1/2 z-[-1]'></div>
  <p>+10 parajes<br />visitados</p>
  <p>+600 familias<br />asistidas</p>
  <p>+130 viajes<br />realizados</p>
</section>

<style>
  section {
    & > p {
      color: white;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;

      @media (min-width: 75rem) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
</style>
