<section class='px-[10%] !py-24 relative flex gap-8 justify-between [&>p]:text-center [&>p]:text-white [&>p]:font-medium [&>p]:text-4xl'>
  <div class='absolute top-0 left-1/2 w-screen h-full bg-primary -translate-x-1/2 z-[-1]'></div>
  <p>+10 parajes<br />visitados</p>
  <p>+500 familias<br />asistidas</p>
  <p>+130 viajes<br />realizados</p>
</section>
