<section class='relative grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-12 !p-0 !pb-28 -mt-1'>
  <div class='absolute top-0 left-1/2 w-screen h-full bg-primary -translate-x-1/2 z-[-1]'></div>
  <div class='aspect-video rounded-xl overflow-hidden'>
    <iframe
      class='w-full h-full'
      src='https://www.youtube.com/embed/Yd7P3WhO4nI?start=22&rel=0'
      title='Video 1'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
      allowfullscreen></iframe>
  </div>
  <div class='aspect-video rounded-xl overflow-hidden'>
    <iframe
      class='w-full h-full'
      src='https://www.youtube.com/embed/NNz41CH_Z1s?rel=0'
      title='Video 2'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
      allowfullscreen></iframe>
  </div>
</section>
