---
interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
  class?: string;
}

const { href, variant = 'primary', class: className = '' } = Astro.props;

const baseStyles = ' px-5 py-1.5 rounded-md text-lg font-medium inline-block whitespace-nowrap font-satoshi';
const variantStyles = {
  primary: 'bg-primary text-white hover:bg-hover',
  secondary: 'border-2 border-primary text-primary hover:bg-primary/5 hover:border-hover hover:text-hover',
};
---

<a href={href} class:list={[baseStyles, variantStyles[variant], className]}>
  <slot />
</a>
