---
import Header from '@/sections/layout/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Una Gota de Salud - ONG de asistencia sanitaria' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo-symbol.svg' />
    <link href='https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap' rel='stylesheet' />
    <title>{title}</title>
  </head>
  <body class='font-satoshi w-full relative'>
    <Header />
    <main class='w-full overflow-clip inline-flex flex-col items-center px-[5%] [&>section]:w-full [&>section]:max-w-container [&>section]:py-32'>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
  }
</style>

<style is:global>
  html {
    overflow-x: clip;
    scroll-behavior: smooth;
  }
</style>
