<section class='text-xl [&>h2]:-mb-2 [&>p]:mt-12'>
  <h2 class='text-[2.5rem] leading-[2.5rem] font-medium !mt-0'>Un compromiso genuino</h2>
  <div class='float-right w-[45%] h-[36rem] rounded-xl overflow-hidden ml-20 mb-16 mt-14'>
    <img src='/media/quienes-somos/un-compromiso-genuino.png' alt='Grupo de voluntarios de Una Gota de Salud' class='w-full h-full object-cover' />
  </div>
  <p>
    En los rincones más olvidados del noroeste de Córdoba, donde el acceso a la salud es casi inexistente y el agua escasea, Una Gota de Salud trabaja
    incansablemente para brindar atención médica y mejorar la calidad de vida de cientos de familias que viven en condiciones de extrema
    vulnerabilidad. Desde 2008, esta asociación civil sin fines de lucro ha construido una red de profesionales de la salud, estudiantes y voluntarios
    solidarios que cada mes recorren más de 150 kilómetros para brindar atención médica, odontológica y nutricional en comunidades donde los servicios
    de salud no llegan.
  </p>
  <p>
    Ajena a cualquier condición política o religiosa, el objetivo de esta organización es garantizar el derecho a la salud en comunidades aisladas,
    cortando el ciclo de la desnutrición y las enfermedades crónicas que afectan a generaciones enteras. A través del trabajo constante y la
    organización de visitas periódicas, se logra reducir, al menos un poco, la incidencia de enfermedades evitables como el Chagas, la lepra, la
    hipertensión y la parasitosis. Más que una simple asistencia, la labor busca generar un impacto real y duradero, brindando esperanza y
    fortaleciendo la salud de familias que, muchas veces, son invisibles para el resto de la sociedad.
  </p>
  <div class='float-left w-[calc(100%-50rem)] min-w-[29rem] h-[45rem] max-h-[60vw] rounded-xl overflow-hidden mr-16 mt-36 mb-10'>
    <img src='/media/quienes-somos/una-mision-clara.png' alt='Grupo de voluntarios de Una Gota de Salud' class='w-full h-full object-cover' />
  </div>
  <h2 class='text-[2.5rem] leading-[2.5rem] font-medium mt-36'>Una misión clara</h2>
  <p>
    La historia de La Gota se remonta al año 2006, cuando la doctora Susana Roldán decidió viajar a las salinas de Córdoba y se encontró con una
    realidad desgarradora: niños lastimados que, a modo de pañales, vestían mangas de camisas llenas de hojas, abuelos postrados con muchísima
    desnutrición, y familias enteras viviendo en condiciones extremas, sin agua potable ni recursos básicos para subsistir. Aisladas y sin acceso a
    hospitales o centros de salud, estas comunidades padecían enfermedades evitables y sufrían en silencio las consecuencias del abandono.
  </p>
  <p>
    Los niños desnutridos tenían madres desnutridas, lo que generaba un círculo vicioso que se propagaba por generaciones. La idea de Susana fue
    cortar esa cadena llevando los nutrientes y vitaminas necesarios para acceder a una mejor salud. Pero lo que comenzó como una visita personal se
    convirtió en un compromiso de por vida, y al poco tiempo otros profesionales y voluntarios se sumaron a la causa. En 2008 el grupo se consolidó
    bajo un nombre que reflejaba su esencia: Una Gota de Salud, inspirado en la frase de la Madre Teresa de Calcuta:
  </p>

  <p class='text-center text-3xl font-medium text-primary text-balance !mt-16'>
    “A veces creemos que lo que hacemos es sólo una gota en el mar, pero el mar no sería el mismo si le faltase esa gota”.
  </p>

  <p class='!mt-16'>
    Con el tiempo, la organización creció y estableció un sistema de asistencia más estructurado. El segundo sábado de cada mes, un equipo de
    aproximadamente 40 personas—entre profesionales de la salud y voluntarios—se traslada a distintas comunidades de la región: Las Ollas, Los Leones,
    Santo Domingo, Puesto Torrado, El Abra, Pozo del Ñato, Cachiyuyo, San Nicolás y alrededores. A pesar de la falta de caminos adecuados y los más de
    150 kilómetros que separa a estos parajes de la capital provincial, los viajes se sostienen gracias a la colaboración de quienes ponen sus propios
    vehículos y recursos para llegar a destino. Allí, además de la atención médica, se entrega agua potable, alimentos esenciales, ropa y calzados,
    entendiendo que una buena nutrición y el abrigo son la base de una buena salud.
  </p>
  <p>
    La sede de la asociación está ubicada en Santa Rosa 1803. Allí se guardan las donaciones y los voluntarios ayudan a armar los módulos alimenticios
    para los viajes. También dan una mano para cualquier cosa que se necesite, así sea cebar un mate mientras los profesionales clasifican
    medicamentos. Mensualmente se organizan las zonas a visitar, mediante relevamientos realizados con anterioridad, y como no hay medios de
    comunicación, los parajes conocen las fechas en que van a recibir las visitas y esperan anosiosos el arribo de los médicos. En estos lugares,
    donde llueve apenas tres veces al año y la falta de agua potable es un problema constante, las enfermedades proliferan con facilidad. Muchas
    personas padecen Chagas, hipertensión o diabetes sin recibir ningún tipo de tratamiento adecuado, lo que agrava su estado de salud con el tiempo.
  </p>
  <p>
    En cada visita, La Gota no solo da asistencia médica, sino también un abrazo afectivo, esperanza y dignidad. Al arribar a los parajes, se genera
    un clima de fiesta: las personas los reciben con mucha ilusión, les brindan lo poco que tienen y esperan a que todos se retiren para recién volver
    a sus ranchos. El alma del proyecto son sus propios miembros, desde jubilados hasta estudiantes, que tienen un solo corazón: ayudar al otro.
  </p>
</section>
